<template>
  <div>
    <button
      class="btn btn-success"
      style="margin-top:0px; margin-bottom:0px"
      v-on:click="displaySequence"
    >
      Générer
    </button>
    <div id="displaySection">
      
    </div>
  </div>
</template>

<script>
import Vex from 'vexflow';
import vexSrvc from '@/services/vex.service.js';
import TimeSignature from '@/models/TimeSignature.model.js';
import sequenceSrvc from '@/services/sequence.service.js';
export default {
  name: 'RhythmDisplay',
  props: {
    rhythmData: Object,
  },
  data: function() {
    return {
      displayed: false,
      barWidth: 400,
      nbBarsPerLine: 1,
      sizeReduction: 20,
    };
  },
  methods: {
    displaySequence() {
      let signature = new TimeSignature();
      signature.numBeats = this.rhythmData.signature.numBeats;
      signature.beatValue = this.rhythmData.signature.beatValue;
      let minimalValue = this.rhythmData.options.minimalValue;
      this.clearBox('displaySection');
      let sequence = sequenceSrvc.generateSequence(
        minimalValue,
        signature,
        this.rhythmData.numBars,
        this.rhythmData.options
      );
      this.displayed = true;

      const wDims = this.getWindowDims();
      this.adaptBarWidth(wDims, this.sizeReduction);

      // Generating divs for displaying sequence
      let parentDiv = document.getElementById("displaySection");
      let nbLines = this.rhythmData.numBars / this.nbBarsPerLine;
      for(let i = 0; i < nbLines; i++) {
        let newDiv = document.createElement('div');
        newDiv.className = 'displayLine';
        newDiv.style = "align-content:start";
        parentDiv.appendChild(newDiv);
      }

      // Instanciate VexFlow
      const VF = Vex.Flow;
      
      let displayDivs = document.getElementsByClassName("displayLine");
      let div;
      let renderer;
      let context;
      let position;
      let displayIndex = 0;
      let displaySignature;
      sequence.barsList.forEach((bar, index) => {
        index === 0 ? (position = 0) : (position += this.barWidth);
        div = displayDivs[displayIndex];
        if (index % this.nbBarsPerLine === 0) {
          position = 0;
          displaySignature = true;
          // Create an SVG renderer and attach it to a DIV element
          renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);
          // Size our SVG:
          renderer.resize(wDims.width, 100); // initial value: 200
          // And get a drawing context:
          context = renderer.getContext();
          displayIndex++;
        }

        // change rendrer div to display in new lines
        renderer.element = displayDivs[displayIndex];
        
        var stave = vexSrvc.getConfiguredStave(
          VF,
          signature,
          position,
          this.barWidth,
          index,
          displaySignature
        );
        displaySignature = false;
        let formattedNotes = vexSrvc.getFormattedNotes(VF, bar, this.rhythmData.options);
        // Connect it to the rendering context and draw!
        stave.setContext(context).draw();
        // Render the notes followed by the beams and tuplets
        Vex.Flow.Formatter.FormatAndDraw(
          context,
          stave,
          formattedNotes.allNotes
        );
        formattedNotes.beams.forEach(beam => {
          beam.setContext(context).draw();
        });
        if (formattedNotes.tuplets.length > 0) {
          formattedNotes.tuplets.forEach(tuplet => {
            tuplet.setContext(context).draw();
          });
        }
      });
    },
    getWindowDims: function() {
      const width =
        window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth;
      const height =
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight;
      return {width: width, height: height};
    },
    adaptBarWidth: function(wDims, sizeReduction) {
      let options = this.rhythmData.options; 
      let signature = this.rhythmData.signature;
      let signatureFactor = Math.sqrt(((1 / signature.beatValue) * signature.numBeats * (options.minimalValue / 4)) / 4);
      let sizeRange = wDims.width < 600 ? 1 : wDims.width < 1200 ? 2 : 4;
      let reducedWidth = wDims.width - (wDims.width * sizeReduction/100);
      this.barWidth = reducedWidth / sizeRange * signatureFactor;
      this.nbBarsPerLine = Math.trunc(reducedWidth / this.barWidth);
      this.nbBarsPerLine < 1 ? this.nbBarsPerLine = 1 : null;
    },
    clearBox: function(elementID) {
      document.getElementById(elementID).innerHTML = '';
    },
  },
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  margin: 10px;
}

#options {
  text-align: center;
}

input[type='number'] {
  width: 50px;
}
</style>
