<template>
  <div id="app" class="container-fluid">
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


@font-face {
  font-family: "Musisync-KVLZ";
  src: local("Musisync-KVLZ"),   url(./fonts/Musisync/Musisync-KVLZ.ttf) format("truetype");
}

</style>
